<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <span class="navbar-toggler-icon d-lg-none d-lg-block"></span>
    <div class="text-center">
      <span class="navbar-brand text-white">CATEGORIES</span>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <%= form_for @category, html: { class: "mx-auto d-flex flex-column align-items-center" } do |f| %>
    <div class="form-row">
      <div class="form-group col">
        <%= f.label :name, "Category Name" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>

      <div class="form-group col">
        <%= f.label :icon, "Category Icon" %>
        <%= f.select :icon, available_category_icons, { include_blank: 'Select an icon' }, class: "form-control" %>
        <%= f.text_field :icon, class: "form-control mt-2", placeholder: "Enter URL for Icon" %>
      </div>
    </div>  

    <div class="d-flex mt-4 gap-3">
      <%= f.submit "Save with Selected Icon", class: "btn btn-primary" %>
      <%= link_to "Back", categories_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
